# Macos file system
.DS_Store

# local env files
.env.local
.env.*.local
__pycache__/
*/__pycache__/
__init__.pyc
main.py
model.py
ho_debug.py

# Log files
runs/
experiments/
jupyter_notebook/runs/
*.ipynb_checkpoints

# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build files
*egg-info
build/
dist/
