# Macos file system
.DS_Store

# local env files
.env.local
.env.*.local
__pycache__/
*/__pycache__/
__init__.pyc
main.py
scripts/
qqs2_data/

replot.py
model.py
ho_debug.py
main_copy.py

# Log files
runs/
jupyter_notebook/runs/
*.ipynb_checkpoints
*/lightning_logs/

# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build files
*egg-info
build/
dist/

# Matlab files
*.asv

# Data files
Data.zip
Data/*
